$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;
$bg-color: #673ab7;

h1 {
    width: 100%;
    font-weight: 500;
    text-align: center;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info span {
    font-size: 20px;
    padding: 10px;
}

.payout.positive::before {
    content: '+';
}

.payout.positive {
    color: green;
}

.payout.negative {
    color: red;
}

.slots {
    position: relative;
    width: 3.5 * $icon_width;
    height: 3 * $icon_height;
    background: $bg-color;
    padding: 0.3 * $icon_height;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.reel {
    border: 1px solid black;
    width: $icon_width;
    height: 3 * $icon_height;
    background-image: url('../../../assets/slotreel.png');
    background-repeat: repeat-y;
    background-position: 0 0;
    z-index: 1;
}


.line-1,
.line-2,
.line-3 {
    position: absolute;
    left: 0%;
    width: 100%;
    z-index: 0;
    border-radius: 10px;
}

.line-1,
.line-3 {
    border: 3px solid #ffd740;
}

.line-1 {
    top: 25%;
}

.line-2 {
    border: 3px solid white;
    top: 50%
}

.line-3 {
    top: 75%
}

.diagonal-1,
.diagonal-2 {
    border: 3px solid #f44336;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    width: 120%;
    z-index: 0;
}

.diagonal-1 {
    transform: rotate(36deg);
    transform-origin: 0% 0%;
    margin-left: 5px;
}

.diagonal-2 {
    top: 90%;
    transform: rotate(-36deg);
    transform-origin: 0% 0%;
}

.bets {
    width: 100%;
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.bets button {
    width: calc(100%/3);
    font-size: 20px;
    border-radius: 10px;
}