<div class="info">
  <span class="payout" [ngClass]="payout >= 0 ? 'positive' : 'negative'">
    Payout: {{ payout > 0 ? "+" : "" }} {{ payout }}
  </span>
  <span class="cost"> Cost: {{ cost * multiplier }} </span>
</div>

<div #slots class="slots">
  <div *ngIf="multiplier >= 2" class="line-1"></div>
  <div *ngIf="multiplier >= 1" class="line-2"></div>
  <div *ngIf="multiplier >= 2" class="line-3"></div>
  <div *ngIf="multiplier >= 3" class="diagonal-1"></div>
  <div *ngIf="multiplier >= 3" class="diagonal-2"></div>
  <div class="reel"></div>
  <div class="reel"></div>
  <div class="reel"></div>
</div>

<div class="bets">
  <button
    mat-raised-button
    color="primary"
    [disabled]="rolling || credits < cost * 1"
    (click)="multiplier = 1; chargeCredits(cost * multiplier)"
  >
    x1
  </button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="rolling || credits < cost * 2"
    (click)="multiplier = 2; chargeCredits(cost * multiplier)"
  >
    x2
  </button>
  <button
    mat-raised-button
    color="warn"
    [disabled]="rolling || credits < cost * 3"
    (click)="multiplier = 3; chargeCredits(cost * multiplier)"
  >
    x3
  </button>
</div>
